.timeline-3 {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: 0;
        right: 0;
        height: 2px;
        background: $success;
    }
}

.checkout-success {
    span {
        font-size: 3rem;
    }

    .body-container {
        height: 100vh;
    }
}