.course {
    &__card__image {
        border-radius: 180px;
        width: 100px;
        height: 100px;
    }
}

.bg-color {
    background: linear-gradient(107deg, $info, $success);
    transition: all .5s ease;

    &:hover {
        background: $secondary;
        border: 1px solid white;
    }
}

.bg-color-180 {
    background: linear-gradient(180deg, $info, $success);
    transition: all .5s ease;

    &:hover {
        background: $secondary;
        border: 1px solid white;
    }
}