.banner {
  background: url("../images/bg_home.jpg") no-repeat;
  background-size: cover;
  height: 100vh;

  @media (max-width: 992px){
    background-image: url("../images/bg_home_mobile.jpg");
  }

  h1 span {
    background: linear-gradient(180deg, $info, $success);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .square {
    width: 10px;
    height: 10px;
    background: white;
  }
}

.intro {

  .intro--title h3::after {
    left: 0;
    transform: translateX(0);

    @media(max-width: 992px){
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .card {
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    background: transparent;

    span {
      background: linear-gradient(180deg, $info, $success);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }

    &:hover {
      background: #000;
      border: 1px solid $success;
    }

    @media (max-width: 992px){
      background: #000;
    }
  }
}

.recommand {
  img {
    width: 100pt;
    height: 100pt;
    border-radius: 360px;
  }

  .card:hover {
    border: 1px solid $success;
  }

  a {
    background: linear-gradient(104deg, $info, $success);
    border-radius: 8px;
    width: 15%;
    transition: all .3s ease;

    @media (max-width: 992px) {
      width: 20%;
    }

    @media (max-width: 767px) {
      width: 45%;
    }
  }
}

.features {

  @media (max-width:992px) {
    flex-wrap: wrap;
    text-align: center;
  }

  h4::after {
    content:'';
    background: white;
    width: 50pt;
    height: 3pt;
    position: absolute;
    left: 0;
    bottom: -16px;

    @media (max-width:992px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .feature {
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 65vh;
    width: 25%;

    @media (max-width: 992px) {
      height: 50vh;
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .feature1 {
    background-image: url("../images/info01.jpg");
  }

  .feature2 {
    background-image: url("../images/info02.jpg");
  }

  .feature3 {
    background-image: url("../images/info03.jpg");
  }

  .feature4 {
    background-image: url("../images/info04.jpg");
  }

  a {
    background: $primary;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: all .3s ease;

    &:hover {
      background: transparent;
      color: #fff;

      span {
        opacity: 1;
        color: $success;
      }
      p {
        opacity: 1;
      }

      h4::after {
        background: $success;
      }
    }
  }

  span,
  p {
    opacity: 0.5;
  }
}

.article {

  &__border {
    display: none;
    width: 32px;
    height: 32px;

    &__topleft {
      border-top: 2px solid $success;
      border-left: 2px solid $success;
      border-top-left-radius: 10px;
    }

    &__topright {
      border-top: 2px solid $success;
      border-right: 2px solid $success;
      border-top-right-radius: 10px;
    }

    &__bottomleft {
      border-bottom: 2px solid $success;
      border-left: 2px solid $success;
      border-bottom-left-radius: 10px;
    }

    &__bottomright {
      border-bottom: 2px solid $success;
      border-right: 2px solid $success;
      border-bottom-right-radius: 10px;
    }
  }

  .card:hover {
    .article__border {
      display: block;
    }
  }
}

.share {
  background: url("../images/bg_share.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  &-swiper {
    height: 50vh;
  }
}

.swiper {
  width: 100%;
  
  @media (max-width:991px) {
      height: auto;
  }

  &-image {
    top: 0;
    left: 10px;
    width: 50%;
    height: 90%;
    border-radius: 24px;
    position: absolute;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 90%;
      border: 1px solid white;
      border-radius: 24px;
      left: -10px;
      top: 10px;
      z-index: -1;

      @media (max-width:991px) {
        left: -5px;
        top: 5px;
        height: 100%;
      }
    }

    img {
      object-fit: cover;
      border-radius: 24px;
      
    }

    @media (max-width:991px) {
      position: relative;
      width: calc(100% - 5px);
      height: 60%;
      left: 5px;
      margin-bottom: $spacer * 4;
    }
  }

  .card {
    width: 60%;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    height: auto;

    &-image {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 32px;
      bottom: 100%;
      transform: translateY(50%);
      @media (max-width:991px) {
        width: 80px;
        height: 80px;
        right: 24px;
        top: -30px;
        bottom: auto;
        transform: none;
      }
    }

    @media (max-width:991px) {
      width: 100%;
      padding: 24px;
      margin-bottom: $spacer * 2;
    }

    @media (max-width: 767px) {
      position: relative;
    }
  }

  &-buttons {
    bottom: 5%;
    left: 25%;
    transform: translateX(-50%);
    z-index: 10;

    @media (max-width: 991px) {
      bottom: 0;
      left: 50%
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      content: '';
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: unset;
      height: auto;
      margin-top: 0;
    }

    .swiper-pagination {
      position: unset;
      width: auto;

      .swiper-pagination-bullet {
        background-color: $success;
        opacity: initial;

        &-active {
          width: 16px;
          border-radius: 100px;
        }
      }
    }
  }
  
}


