body {
    font-family: "Azeret Mono", "Noto Sans TC", Arial, sans-serif;
}

footer {
    color: #909090;
}

img {
    max-width: 100%;
    height: auto;
}

.custom-nav {
    background-color: linear-gradient(180deg, $info 50%, $success 50%);
    border-bottom: linear-gradient($info 50% $success 50%);
    
    .icon {
        background-color: linear-gradient(180deg, $info 50%, $success 50%);
    }
}