h3::after {
    content: '';
    width: 50px;
    height: 2px;
    background: $success;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.text-Azeret {
    font-family: "Azeret Mono";
}